/* ------------------------------------------- */
/* ------------BASIC SETUP-------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
    margin-left: 2.5%;
    color: rgb(42, 171, 226);
}

h2 {
    color: rgb(37, 37, 37)
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-top: 1.5em;

    
/*    display: flex;*/
/*    float: left;*/
/*	flex-direction: column-reverse;*/
/*	flex-wrap: nowrap;*/
/*	justify-content: flex-start;*/
/*	align-items: flex-start;*/
/*	align-content: stretch;*/
}

h3 {
    margin-top: 25%;
    margin-bottom: 20%;
}

/*
.logo {
    position: flex;
    height: 20%;
    width: 20%;
     top: 10%; 
     left: 25px; 
}
*/


header {
    display: flex;
/*	flex-direction: column;*/
/*	flex-wrap: wrap;*/
/*	justify-content: space-between;*/
    justify-content: space-between;
	align-items: center;
    background-color: rgb(37, 37, 37);
    height: 10vh; 
}

.header-links {
    width: 25%;
    display: flex;
    justify-content: space-between;
    margin-right: 2.5%;
    
}

.link-text {
    color: rgb(42, 171, 226);
}



.some-text-layout {
/*    position: absolute;*/
/*    padding-right: 15%;*/
/*    padding-bottom: 150%;*/
/*    display: flex;*/
/*    width: 1000px;*/
    width: 100vh;
/*    height: 100%;*/
/*    top: 50%;*/
/*    bottom: 50%*/
/*    left: 50%;*/
/*    border: 5px  white;*/
/*    transform: translate(-50%, -50%);*/
    flex-direction: column;
/*    justify-content: flex-start;*/
/*	align-items: center;*/
/*	align-content: center;*/

}

/*
article {
    margin: auto
}
*/

.side-box {
    float: right
    position: absolute;
    width: 10%;
    height: 40vh;
    margin: 2%;
    background-color: slategray;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-evenly;
}


.container {
/*    margin-left: 10%;*/
    padding-left: 10%;
    display: flex;
/*    flex-direction: column;*/
	flex-wrap: wrap;
    justify-content: space-between;
    background-color: wheat;
/*    background-size: cover;*/
/*    background-position: center;*/
    height: 100vh;
/*    width: 100vh;*/

}

.second-container {
    display: flex;
/*    background-color: teal;*/
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}



/* ---------- */
/* ----nav items---- */
.nav-position {
    display: flex
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}

/*
.main-nav li {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
     margin-right: 20px; 
     margin-top: 40px; 
    
}
*/

.best-products {
/*    width: 25%;*/
/*       width: 20%;*/
    height: 90vh;
    width: 70vh;
/*
    margin-left: 10%;
    margin-right: 9%;
*/
/*
    margin-bottom: 2%;
    margin-top: 2%;
*/
/*    background-color: slategray;*/
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-evenly;
}

.best-products-child {
/*    width: 25%;*/
    box-shadow: 5px 5px 5px 5px;
       width: 50%;
    height: 30vh;
    margin-left: 10%;
    margin-right: 9%;
    margin-bottom: 2%;
    margin-top: 12%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    border-radius: 5%;
    justify-content: space-evenly;
    text-align: center
}

.photo {
    position: absolute
    display: flex;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 5px solid black;
    
}

.b-p-c-l {  
    height: 40vh;
}

footer {
/*    position: absolute;*/
    display: flex
/*
    justify-content: space-between;
    justify-content: space-between;
*/
	align-items: center;
    background-color: rgb(37, 37, 37);
    height: 10vh;
    width: 100%;
    padding-left: 10%;
}

.product {
    height: 150px;
    width: 150px;
    background-color: maroon;
    border: 1px solid black;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.other-products {
  width: 100vw;
  height: 40vh;
  background-color: palevioletred;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: space-evenly;
  padding: 20px;
}


/*






/*

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/
